body{
    padding: 0;margin: 0;
    background: #1b263b;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
}
.container{
    max-width: 80%;
    background:#0d1b2a ;
    padding: 15px 20px;
    margin: 18px auto;
    border-radius: 20px;
}
.nav ul li{
    list-style-type: none;
    display: inline;
    margin: 25px;
}
.nav a{
    text-decoration: none;
    color: #495057;
    font-weight: bold;
    text-transform: capitalize;
    transition: 0.50s;
}
.nav a:hover{
    color:white
}
.he{
    margin: 100px;
}
.he input[type="text"]{
    padding: 15px;margin: 5px;
    border: 0;
    width: 15em;
    border-radius: 15px;
    background: #1b263b;
    color: white;
   
}
/*.he input[type="text"]:focus{
    border:2px;
}
*/
.he input[type="password"],input[type="email"]{
    padding: 10px; margin: 5px;
    border: 0;
    width: 31em;
    border-radius: 15px;
    background: #1b263b;
    color: white;
}
.he input[type="button"],input[type="submit"]{
    border: 0;
    padding: 6px;margin: 5px;
    border-radius: 15px;
    width: 12em;
    background: #1b263b;
    color: white;
    transition: 0.25s;
}
.he input[type="submit"]:hover,.he input[type="button"]:hover{
    background: #1982c4;
}
